<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Realtime chat</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1 class="header">Hello chat</h1>
    <div class="messages-container">
      <div class="messages" id="messages"></div>
    </div>
    <form id="form" action="">
      <input type="text" name="message" id="msgInput" />
      <button type="submit">Send</button>
    </form>
    <script src="/script.js" type="module"></script>
  </body>
</html>
