* {
  margin: 0;
  padding: 0;
}
html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  background-color: #25c2a0;
  padding: 0.2rem 0.5rem;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

form {
  width: calc(100% - 1rem);
  background: grey;
  display: flex;
  padding: 0.5rem;
}
form input {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0.3rem;
  min-width: 5rem;
  border-radius: 10px;
  border: none;
}
form button {
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  background: #25c2a0;
  color: aliceblue;
  border-radius: 10px;
  border: 1px soild rgb(206, 204, 204);
  cursor: pointer;
}

.messages-container {
  flex-grow: 1;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background: rgb(206, 235, 245);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.messages {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.message {
  background: #8860ef;
  color: white;
  font-size: 1.5rem;
  width: max-content;
  padding: 0.3rem 0.8rem;
}

.message.self {
  margin-left: auto;
  border-radius: 10px 10px 0 10px;
}

.message.received {
  border-radius: 10px 10px 10px 0;
}

.user-connect,
.user-disconnect {
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
}
.user-connect {
  background: rgb(157, 236, 236);
}
.user-disconnect {
  background: rgb(235, 234, 183);
}
