* {
  margin: 0;
  padding: 0;
}

h1 {
  color: rebeccapurple;
}

form {
  position: fixed;
  width: 99%;
  bottom: 0;
  background: grey;
  display: flex;
  padding: 0.5rem;
}
form input {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0.3rem;
}
form button {
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  background: blueviolet;
  color: aliceblue;
}
